{
  "sensors": [
    {
      "name": "sensor_1",
      "mac_address": "5C:85:7E:B0:DD:02",
      "measurement_interval": 2,
      "lower_limit": 20,
      "watering_interval": 10,
      "relay_pin": 18
    },
    {
      "name": "sensor_2",
      "mac_address": "5C:85:7E:12:BA:42",
      "measurement_interval": 5,
      "lower_limit": 15,
      "watering_interval": 30,
      "relay_pin": 13
    }
  ]
}